#logo {
    width: 100px;
  }
  .container {
    max-width:960px;
    margin: 0 auto;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    padding:5px;
    background-color: white;
    box-shadow: 3px 3px 3px grey;
    border-radius: 3px;
  }
  .col-6 > img{
    margin-bottom:10px;
  }
  .col1 {
    margin-bottom:20px;
  }
  .colunas {
    margin-top:50px;
    margin-bottom:50px;
    padding:5px;
  }
  .tresColunas > img {
    border:1px solid lightgrey;
    box-shadow: 1px 1px 3px lightgrey;
    margin-bottom:10px;
  }
  .dDepoimentos {
    margin: top 20px;
    margin-bottom:20px;
    text-align: center;
  }
  .eEcontre {
    margin: top 20px;
    margin-bottom:20px;
    text-align: center;
  }